Flask
Werkzeug
python-dotenv

Pillow
pytesseract
numpy
textwrap3

pyttsx3
spacy
torch
google-generativeai
diffusers
transformers
accelerate
safetensors

moviepy
imageio
imageio-ffmpeg

mysql-connector-python

uuid